.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.main_column {
	margin-top: 50px;
	width: 70%;
}

.right_column {
	margin-top: 50px;
	width: 25%;
}
