.dialogs  {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialog_items, .messages {
    padding: 10px;
}

.dialog, .message {
    padding: 5px;
}

.dialog {
    color: white;
}

.message {
    color: orange;
}