/* NAV */

.nav { 
	grid-area: nav;
	background: red;
}
  
.item {
	position: relative;
	min-height: 300px;
	line-height: 0;

}

.item img {
	height: 300px;
	width: 300px;
}


.text_block {
	position: absolute;
	width: 100%;
	min-height: 50px;
	bottom: 0px; 
	opacity: 70%;
	background-color: black;

}

.text_block span {
	display: block;
	color: white;
	line-height: normal;

}
  
  /* END NAV */