
.friends_block {
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px #414040;
    overflow: hidden;
    background: #414040;
}

.friends_block h2 {
    text-align: center;
    color: white;
}